body {
	margin: 0;
	height: 100vh;
}
.main {
	height: 100vh;
}
#root {
	width: 100%;
	margin: 0;
	text-align: center;
}

h1 {
	margin: 0;
}

li {
	list-style: none;
}

.dark-mode {
	background-color: #181818;
	color: #fff;
}
